@use '../base'

#bonus-area
    h2
        @include base.montserrat()
        color: base.$primary-color
        font-size: 1.8em

    p.bonus-main-description
        font-size: 1.4em
        @include base.container-mx()
        @include base.desktop()
            width: 60%

    .bonus-cards
        @include base.tablet()
            width: 90%
            gap: 2rem !important
            margin: 2rem auto

        @include base.laptop()
            width: 100%

        @include base.desktop()
            flex-direction: row !important
            justify-content: space-around
            width: 90%

        .bonus-card
            @include base.laptop()
                flex-direction: row !important
                align-items: start !important

            @include base.desktop()
                flex-direction: column !important

            img
                width: 18rem
                height: 15rem

            .bonus-description
                h3
                    @include base.open-sans()
                    font-size: 1.8em
                    @include base.laptop()
                        text-align: left !important

                p
                    font-size: 1.2em
