@use '../base'

#checklist-area
    padding-top: 28rem

    h2
        color: base.$primary-color
        @include base.open-sans()
        font-weight: bold

    ol
        li
            font-size: 1.3em
