@use '../base'

#instructor-area
    img
        width: 16rem
        height: 20rem

    #instructor-history
        h2
            @include base.open-sans()
            font-size: 1.8em
            word-spacing: 5px

        p
            font-size: 1.1em
