@use '../base'

#instructor-area
    @include base.laptop()
        flex-direction: row !important
        justify-content: center

    @include base.desktop()
        width: 80%
        margin: 0 auto

    @include base.Tv()
        width: 60%

    img
        background-image: radial-gradient(base.$quartenary-color 50%, transparent, transparent)

    #instructor-history
        @include base.container-mx()
        @include base.laptop()
            width: 60%
            margin: 0

        h2
            @include base.open-sans()
            font-size: 1.8em
            word-spacing: 5px

        p
            font-size: 1.1em
