@use '../base'

header
    .waveforms
        padding-bottom: 5rem
        @include base.tablet()
            padding-bottom: 7rem

        @include base.laptop()
            padding-bottom: 8rem

        svg
            &:first-of-type
                top: 8px
                @include base.desktop()
                    top: -14px

                @include base.Tv()
                    top: -37px

            &:last-of-type
                @include base.desktop()
                    top: -38px !important

                @include base.Tv()
                    top: -60px !important

    .intro-area
        @include base.container-mx()
        @include base.laptop()
            margin-bottom: 5rem

        @include base.desktop()
            width: 70%

        @include base.Tv()
            width: 60%

        .slogan
            @include base.open-sans()

            strong
                background-color: base.$quinary-color

        .intro
            font-size: 1.5em
