@use '../base'

header
    .waveforms
        padding-bottom: 5rem

        svg
            &:first-child
                top: 8px

    .slogan
        @include base.open-sans()

        strong
            background-color: base.$quinary-color

    .intro
        font-size: 1.5em
