@use '../base'

.main-cta-btn
    background-image: linear-gradient(to right, base.$primary-color, base.$quartenary-color)
    color: base.$tertiary-color
    font-size: 1.1em
    box-shadow: 0px 0px 20px base.$primary-color
    transition: transform .3s ease-in
    @include base.open-sans()
    @include base.tablet()
        width: 70% !important

    @include base.laptop()
        width: 60% !important

    @include base.desktop()
        width: 40% !important

    @include base.Tv()
        width: 30% !important

    &:active,
    &:hover
        transform: scale(1.04)
