@use '../base'

#solutions-area
    h2
        color: base.$primary-color
        @include base.open-sans()
        font-size: 1.8em

    p
        &:first-of-type
            font-size: 1.4em
            @include base.tablet()
                @include base.container-tablet-mx()

    .solutions-cards
        @include base.tablet()
            @include base.container-tablet-mx()
            gap: 2rem !important

        .solution-card
            img
                width: 15rem
                height: 15rem

            .solution-description
                h3
                    @include base.montserrat()
                    color: base.$primary-color

                p
                    box-shadow: 0px 0px 10px base.$primary-color
                    font-size: 1.1em
