@use '../base'

#solutions-area
    h2
        color: base.$primary-color
        @include base.open-sans()
        font-size: 1.8em

    p
        &:first-of-type
            font-size: 1.4em
            @include base.container-mx()
            @include base.desktop()
                width: 60%

            @include base.Tv()
                width: 50%

    .solutions-cards
        @include base.container-mx()
        @include base.tablet()
            gap: 2rem !important

        @include base.laptop()
            width: 90%

        @include base.desktop()
            flex-direction: row !important
            justify-content: space-around

        @include base.Tv()
            max-width: 1100px

        .solution-card
            @include base.laptop()
                flex-direction: row !important
                padding: 0 !important
                gap: 2rem
                justify-content: center

            @include base.desktop()
                flex-direction: column !important
                width: 32%

            img
                width: 15rem
                height: 15rem

            .solution-description
                max-width: 480px
                h3
                    @include base.montserrat()
                    color: base.$primary-color

                p
                    box-shadow: 0px 0px 10px base.$primary-color
                    font-size: 1.1em
                    @include base.desktop()
                        width: 100%
