@use '../base'

h2.testimony-title
    color: base.$primary-color
    @include base.montserrat()
    font-size: 1.8em

#testimonies-area-lg
    background-image: linear-gradient(to top, base.$quartenary-color, base.$primary-color 60%, transparent, transparent)
    @include base.tablet()
        margin-top: 2rem

    @include base.laptop()
        display: none

#testimonies-area-xl
    background-image: linear-gradient(to top, base.$quartenary-color, base.$primary-color 60%, transparent, transparent)
    @include base.laptop()
        display: flex !important
        flex-direction: column
        align-items: center

.testimonies-containers
    @include base.Tv()
        width: 80%

.testimony-container
    background-color: base.$quartenary-color
    height: 16rem
    @include base.tablet()
        width: 90%
        margin: 0 auto
        height: 20rem

    @include base.laptop()
        width: 45%
        margin: 0
        height: 16.5rem

    @include base.desktop()
        max-width: 700px
        height: 15rem

    @include base.Tv()
        height: 16.5rem

    p
        &.testimony-header
            @include base.open-sans()
            font-size: 1.1em

            img
                width: 4rem
                height: 4rem

.cta-container
    @include base.tablet()
        display: flex
        justify-content: center

    @include base.laptop()
        width: 80% !important

    @include base.desktop()
        width: 100% !important
