@use '../base'

.video-cta
    img
        &:first-child
            left: -16rem
            height: 24rem
            bottom: -25rem
            filter: grayscale(0.6)
            z-index: 1

        &:nth-child(3)  
            height: 24rem
            right: -3rem
            top: 27rem
            filter: grayscale(0.6)
