@use '../base'

.video-cta
    @include base.container-mx()
    @include base.tablet()
        display: flex
        flex-direction: column
        align-items: center

    img
        &:first-child
            left: -16rem
            height: 24rem
            bottom: -25rem
            filter: grayscale(0.6)
            z-index: 1
            @include base.tablet()
                bottom: -30rem
                height: 28rem

            @include base.laptop()
                left: -23rem
                bottom: 2rem

        &:nth-child(3)  
            height: 24rem
            right: -3rem
            top: 27rem
            filter: grayscale(0.6)
            @include base.tablet()
                height: 28rem

            @include base.laptop()
                right: -6rem
                top: -5rem

    iframe
        @include base.laptop()
            z-index: 1
            width: 80%
